<section class="high-there-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="high-there-box">
                    <div class="title-text">
                        <!-- <h6>hiiiiiiiigh there! WE GOT YOU!</h6> -->
                        <h6>{{ section.settings.hi-there }}</h6>
                    </div>
                    <div class="heading-text">
                        <!-- <h2>AN EASY-DRINKING TRIP WITH EVERY SIP</h2> -->
                        <h2>{{ section.settings.heading }}</h2>
                    </div>
                    <span class="shop_now_cta">
                        <!-- <a href="#">shop now</a> -->
                        <a href="{{ section.settings.btn-url }}">{{ section.settings.shop-now }}</a>
                    </span>
                </div>
                <div class="uncle_img">
                    <!-- <img src="Images/uncle_img.png"> -->
                    <img src="{{ section.settings.uncle-img | img_url : "master" }}">
                </div>
            </div>
            <div class="col-lg-5 wht_btn_col">
                <div class="quick-on-set-section">
                  {% for block in section.blocks %}
                    <div class="quick-set-box">
                      <span>{{ block.settings.side-text }}</span>
                    </div>
                  {% endfor %}
                    <!-- <div class="quick-set-box">
                        <span>QUICK ONSET</span>
                    </div>
                    <div class="quick-set-box">
                        <span>No Bad Trips</span>
                    </div>
                    <div class="quick-set-box">
                        <span>Great Flavour</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Info Section",
    "settings": [
      {
        "type" : "text",
        "id" : "hi-there",
        "label" : "Enter Sub Title"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Enter Title"
      },
      {
        "type" : "text",
        "id" : "shop-now",
        "label" : "Enter Button text"
      },
      {
        "type" : "url",
        "id" : "btn-url",
        "label" : "Enter Button Url"
      },
      {
        "type" : "image_picker",
        "id" : "uncle-img",
        "label" : "Select image"
      }
    ],
    "blocks" : [
      {
        "type" : "text",
        "name" : "text-block",
        "settings" : [
          {
            "type" : "text",
            "id" : "side-text",
            "label" : "Enter Text"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Info-section"
      }
    ]
  }
{% endschema %}